.ContainerWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 80%;
}

.CategoryName {
  font-weight: bold;
  font-size: larger;
}

.Recent,
.Popular {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

@media (min-width: 64rem) {
  .Recent,
  .Popular {
    flex-direction: row;
  }
}