.CardContainer * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.CardContainer {
  display: flex;
  border-radius: 10px;
  margin: 20px;
  max-width: 70%;
  min-width: 30%;
  height: auto;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 2px 2px rgba(0, 17, 255, 0.6);
}

.ImageContainer{
  display: flex;
  width: 100%;
}

.CardBody {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: auto;
  padding: 8px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.4s ease-in-out 0s;
}
.CardBody h2{
  font-size: 1.2rem;
}

.CardContainer:hover .CardBody {
  bottom: 0;
}

.CardBody .Author {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rebeccapurple;
}
