.FooterWrapper{
  bottom: 0;
  left: 0;
  width: 100%;
}

.MainFooter * {
  box-sizing: border-box;
}

.MainFooter {
  width: 100%;
  min-width: 50%;
  height: 80px;
  background-color: royalblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Logo {
  margin-left: 15px;
}

.LogoDiv {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.MainFooterLinks {
  list-style: none;
  display: flex;
}

.MainFooterLink {
  margin: 0 16px;
}

.MainFooterLink a {
  color: white;
  text-decoration: none;
}
